@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* hide scroll var */
::-webkit-scrollbar{
    @apply hidden;
}

/* font out fit */
*{
    font-family: Outfit;
}